* {
  padding: 0;
  margin: 0; }
  * body {
    background-color: #ebd8d0; }
    * body .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #fff;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      background-color: #e8e9eb;
      overflow: hidden; }
      * body .circle .hairBackground {
        width: 180px;
        height: 300px;
        background-color: #424b54;
        border-radius: 180px 180px 0 0;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        overflow: hidden; }
        * body .circle .hairBackground .bang1 {
          height: 70px;
          width: 100px;
          position: absolute;
          left: 20px;
          top: 20px;
          border-radius: 0 0 40px 80px;
          background-color: #424b54; }
        * body .circle .hairBackground .bang2 {
          height: 70px;
          width: 100px;
          position: absolute;
          right: -10px;
          top: 15px;
          border-radius: 0 0 100px 100px;
          background-color: #424b54; }
        * body .circle .hairBackground .face {
          width: 130px;
          height: 150px;
          background-color: #f0beaf;
          position: absolute;
          top: 100px;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 65px; }
          * body .circle .hairBackground .face .cheek {
            width: 20px;
            height: 7px;
            background-color: #eba8a8;
            border-radius: 7px;
            position: absolute; }
          * body .circle .hairBackground .face .cheek1 {
            left: 15px; }
          * body .circle .hairBackground .face .cheek2 {
            right: 18px; }
          * body .circle .hairBackground .face .eye {
            position: relative;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: #424b54;
            display: inline-block;
            margin: 75px 25px 0 23px; }
            * body .circle .hairBackground .face .eye .eyeBrown {
              width: 25px;
              height: 4px;
              background-color: #424b54;
              display: inline-block;
              position: absolute;
              top: -10px;
              left: -5px; }
        * body .circle .hairBackground .nose {
          width: 10px;
          height: 20px;
          position: absolute;
          left: 50%;
          top: 103px;
          transform: translate(-50%);
          background-color: #db9b99;
          border-radius: 5px; }
        * body .circle .hairBackground .mouth {
          width: 50px;
          height: 25px;
          position: absolute;
          left: 50%;
          top: 130px;
          transform: translateX(-50%);
          background-color: #424b54;
          border-radius: 0 0 50px 50px;
          overflow: hidden; }
          * body .circle .hairBackground .mouth .toung {
            width: 40px;
            height: 40px;
            background-color: #f6828c;
            position: absolute;
            top: 7px;
            left: 15px;
            border-radius: 40px; }
        * body .circle .hairBackground .neck {
          width: 50px;
          height: 30px;
          background-color: #f0beaf;
          border-radius: 0 0 50px 50px;
          position: absolute;
          top: 160px;
          left: 50%;
          transform: translate(-50%);
          z-index: 1; }
        * body .circle .hairBackground .body {
          width: 170px;
          height: 150px;
          background-color: #e3879e;
          position: absolute;
          left: 50%;
          top: 175px;
          transform: translate(-50%);
          border-radius: 100%; }

/*# sourceMappingURL=style.css.map */
